asgiref==3.7.2
astroid==3.0.3
bandit==1.7.7
black==22.1.0
blue==0.9.1
cfgv==3.4.0
click==8.1.7
coverage==7.4.1
dill==0.3.8
distlib==0.3.8
Django==5.0.2
django-extensions==3.2.3
djangorestframework==3.14.0
drf-yasg==1.21.7
exceptiongroup==1.2.0
filelock==3.13.1
flake8==4.0.1
identify==2.5.34
inflection==0.5.1
iniconfig==2.0.0
isort==5.13.2
markdown-it-py==3.0.0
mccabe==0.6.1
mdurl==0.1.2
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.2
pathspec==0.12.1
pbr==6.0.0
pillow==10.2.0
platformdirs==4.2.0
pluggy==1.4.0
pre-commit==3.6.1
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.17.2
pylint==3.0.3
pytest==8.0.0
pytz==2024.1
PyYAML==6.0.1
rich==13.7.0
sqlparse==0.4.4
stevedore==5.1.0
tomli==2.0.1
tomlkit==0.12.3
typing_extensions==4.9.0
uritemplate==4.1.1
virtualenv==20.25.0
